body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

html{

	height:100%;
}
body{

	/*background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAABFFUlE…a9bnBq3fEVltKfO5IaSTmGjjc4J0otcP7QsJUSQM8pEj5/wCuUuC2DWz8AAAAAElFTkSuQmCC");*/
	/*background-color: black;*/
	height:100%;
	width: 100%;
	margin:auto;
}

.hfill{

	height:calc(100% - 42px);
}

.navbar , .navbar-inner{

	border-radius: 0;
}

.row , .row > div{
  
  margin:0;
}

.side{
  
  width:20%;
  height:100%;
  background:#ddd;
  border-right: 2px #073642 solid;
  /*padding: 20px;*/
  box-sizing: border-box;
  overflow: scroll;
}

.code{
  
  width:80%;
  height:70%;
  background:blue;
}

.code > div{

	height:100%;
}

.output{
  
  width:80%;
  height:30%;
  /*background:grey;*/
  overflow: scroll;
  /*background-color: #002b36;*/
  background-color: #eee;

}

.output > .nav-tabs{
  position: fixed;

    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAABFFUlE…a9bnBq3fEVltKfO5IaSTmGjjc4J0otcP7QsJUSQM8pEj5/wCuUuC2DWz8AAAAAElFTkSuQmCC");*/

  /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAABFFUlE…a9bnBq3fEVltKfO5IaSTmGjjc4J0otcP7QsJUSQM8pEj5/wCuUuC2DWz8AAAAAElFTkSuQmCC");*/
background-color: #073642;
width: 100%;

}

.output > .tab-content{

   padding-top: 50px;
  /*padding: 50px;*/
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #eee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.optcb{

  background: transparent;
  border: none;
  color: #aaa;
  padding: 0;
  margin-left: 11px;
  font-size: 18px;
  margin-top: 0px;
}

.optcb:hover{

  color: #e99 !important;
}

.active .optcb{

  color:gray;
}

.immune .optcb{
  display: none;
}

